* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #D5E1EF;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  width: 250px;
  background-color: #fff;
  padding: 15px;
  border-radius: 17px;
}

.img img {
  width: 250px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.text-primary {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  color: #203250;
  padding: 0 15px;
  line-height: 26px;
  margin-bottom: 16px;
}

.text-secondary {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #9B9FA2;
  padding: 0 10px;
  line-height: 18px;
  margin-bottom: 20px;
}

.attribution {
  font-size: 9px;
  line-height: 12px;
  margin-top: 7px;
}